<ion-card>

  <ng-container *ngIf="isLoaded$ | async; else notLoaded">
    <ion-card-header>
      <ion-card-title>{{name}}</ion-card-title>
    </ion-card-header>
  
    <ion-list>
      <ion-item
        *ngFor="let item of [].constructor(numberOfItems); last as isLast;"
        [lines]="isLast ? 'none' : ''"
      >{{data$ | async}}</ion-item>
    </ion-list>
  </ng-container>

  <ng-template #notLoaded>
    <ion-card-header>
      <ion-card-title>
        <ion-skeleton-text animated style="width: 60%; height: 28px"></ion-skeleton-text>
      </ion-card-title>
    </ion-card-header>
  
    <ion-list>
      <ion-item
        *ngFor="let item of [].constructor(numberOfItems); last as isLast;"
        [lines]="isLast ? 'none' : ''"
      >
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-item>
    </ion-list>
  </ng-template>

  <!-- <ion-card-header>
    <ion-card-title>{{name}}</ion-card-title>
  </ion-card-header>

  <ion-list>
    <ion-item
      *ngFor="let item of [].constructor(numberOfItems); last as isLast;"
      [lines]="isLast ? 'none' : ''"
    >hmm: {{item}} / isLast: {{isLast}}</ion-item>
  </ion-list> -->
  
  <!-- <pre class="ion-padding">mySelector$: {{mySelector$ | async | json}}</pre> -->
  <!-- <pre class="ion-padding">isLoaded$: {{isLoaded$ | async | json}}</pre> -->
  <!-- <pre class="ion-padding">hasError$: {{hasError$ | async | json}}</pre> -->

</ion-card>