<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <app-skeleton-card name="Page3Card1" [numberOfItems]="2"></app-skeleton-card>
  <app-skeleton-card name="Page3Card2" [numberOfItems]="7"></app-skeleton-card>

  <pre class="ion-padding">store: {{ store$ | async | json}}</pre>

</ion-content>
